.post {
  margin: 0 auto;
  text-align: center;

  width: 80%;
  @media (orientation: landscape) {
    & {
      width: 50%;
    }
  }

  .media {
    width: 100%;
    height: auto;
  }
}

//Seems about right
$height: 1.2em;

.date {
  font-size: $height;
  font-weight: bold;
}